h1 {
    color: #36C;
    font-weight: 'bold';
    margin-bottom: 1em;
    text-align: center;
 }
 p {
   text-align: center;
   margin: 30px;
   font-size: 30px;
 }
 #a {
   text-align: center;
   padding-left:350px;
   padding-right: 350px;
   font-size: 30px;
 }
 